<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Viper</title>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/favicon-16x16.png">
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/manifest.json">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/safari-pinned-tab.svg" color="#04ceed">
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/favicon.ico">
    <meta name="theme-color" content="#04ceed">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#04ceed">
    <meta name="apple-mobile-web-app-title" content="Viper">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/apple-touch-icon.png">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-config" content="<%= htmlWebpackPlugin.files.publicPath %>statics/icons/browserconfig.xml">

    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <body>
    <noscript>
      This app requires JavaScript.
    </noscript>
    <div id="q-app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
